body{
  text-align: center;
  background-color: burlywood;
 box-shadow: 0 0 12px rgba(255,255,255,0.4);
 position: relative;
}
  
}
.btn{
  height: 100px;
  width: 100px;
  border-radius: 20px;
  border: 10px solid black;
  margin: 2.5rem;

}
.btn-container{
  display: flex;
  justify-content: center;
 
}
.yellow{
  background-color: yellow;
}
.green{
  background-color: green;
}
.purple{
  background-color: purple;
}
.red{
  background-color: red;
}
.flash{
  background-color: white;
}
.userflash{
  background-color: chartreuse;
}
#Start{
  border-radius: 2.5rem;
 width:fit-content;
 font-size:x-large;
 padding: 0.5rem 0.5rem 0.5rem 0.5rem;
 margin-bottom: 0.5rem;
 

}
#Start:hover{
  cursor: pointer;
  background-color: black;
  color: #fff;
}
    
  #Start:active {
    background-color: #3e8e41;
    
  }
