body{
  text-align: center;
  
}
.btn{
  height: 100px;
  width: 100px;
  border-radius: 20px;
  border: 10px solid black;
  margin: 2.5rem;

}
.btn-container{
  display: flex;
  justify-content: center;
  box-shadow: 0 0 12px rgba(255,255,255,0.4);
}
.yellow{
  background-color: yellow;
}
.green{
  background-color: green;
}
.purple{
  background-color: purple;
}
.red{
  background-color: red;
}
.flash{
  background-color: white;
}
.userflash{
  background-color: chartreuse;
}